body {
    background-color: lavender;
}

h1 , h2 {
    text-align: center;
}

img {
    height: 200px;
    width: 130px;
}

p {
    font-size: 100px;
    display: inline;
}

div {
    font-size: 0;
    width: 28%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black; 
    box-shadow: 2px 2px 10px 2px;
}

input {
    font-size: 30px;  border: 1px solid black;
    box-shadow: 2px 2px 10px 2px;
    display: block;
    margin: 20px auto;
}

.cards {
    width: 25%;
}
